.hero {
  height: 80vh;
  background: url('images/bg.jpg') center/cover no-repeat;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  top: 40%;
  transform: translateY(-50%);
}

.hero h1 {
  font-size: 40px;
}

button {
  background: #d4a373;
  border: none;
  padding: 12px 25px;
  color: white;
  font-weight: bold;
}